<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="robots" content="index,follow" />
<meta name="description" content="{% if page.description %}{{page.description}}{% else %}{{ site.description }}{% endif %}">

<link rel="icon" href="/assets/img/icon.svg" />
<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/styles/style.css">
<link rel="shortcut icon" type="image/png" href="/assets/img/favicon.png">
<link rel="apple-touch-icon" href="/assets/img/apple-touch-icon.png">

<title>{% if page.title %}{{page.title}}{% else %}{{ site.title }}{% endif %}</title>

<base href="{{ site.url }}">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-W5F7RGV8XB"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-W5F7RGV8XB');
</script>
