<!-- This contains the html for the nav bar at the top of each page. It contains three elements. The logo, menu list and burger icon (for mobile). -->

<nav>
  <div class="logo">
    <a href="/index.html">Dink Wiz</a>
  </div>

  <ul class="nav">
    <li><a href="/index.html">Home</a></li>
    <li><a href="/about.html">About</a></li>
    <li><a href="/categories.html">Categories</a></li>
    <li><a href="/blog.html">Blog</a></li>

  </ul>
  
  <div class="burger">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>

</nav>
