<blog-posts>

<div class="posts">
  {% assign sorted-posts = site.posts | sort: 'date' | reverse %}    
  {% for page in sorted-posts %}
        <div class="post">
                <a href="{{ site.baseurl }}{{ page.url }}">{{ page.categories }} | {{ page.title }}</a>
                
                - {{ page.date | date: '%B %Y' }}
                
                <p>{{ page.excerpt }}</p>

                <hr class="line">
                
        </div>
      {% endfor %}
  </div>
  
  </blog-posts>
