<proj-gallery>
  <div class="proj-gallery">
  {% for project in site.projects %}
      <div class="proj-items">
          <div class="proj-item">
              <a 
              href="{{ project.url }}">
              <img src="{{ project.image-path }}" alt="">
              <div class="proj-title"> 
                  {{ project.title }} 
              </div>
              <div class="proj-subtitle">
                  {{ project.subtitle }}
              </div>
              </a>
          </div>
      </div>
  {% endfor %}
  </div>
</proj-gallery>
