<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>{% if page.title %}{{page.title}}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.subtitle %}{{page.subtitle}}{% else %}{{ site.description }}{% endif %}">
    <base href="{{ site.url }}">
</head>

<body>

  <header>
          {% include nav.html %}
  </header>

  <content>

      <h1>{{ page.title }}</h1>

      <h2>{{ page.subtitle }}</h2>
      
      {{ content }}
      
      <div class="cat-posts">
        {% include cat-posts.html %}
      </div>

  </content>



<footer>
    {% include footer.html %}
</footer>

    <script src="/assets/js/app.js"></script>
</body>

</html>
