<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>

<body>

  <header>
    {% include nav.html %}
  </header>

  <div class="post-titles">
    <h1>{{ page.title }}</h1>
    <h2>{{ page.subtitle }}</h2>
  </div>

  <div class="cat-main">
    <div class="cat-content">
      {{ content }}
    </div>

    <hr class="line">

    <div class="cat-posts">
      {% include cat-posts.html %}
    </div>
  </div>

  <footer>
    {% include footer.html %}
  </footer>

  <script src="/assets/js/app.js"></script>
</body>

</html>
