<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>

<body>

  <header>
    {% include nav.html %}
  </header>

  <div>
    {% include subpage-title.html %}
  </div>

  <main class="main">
      
      <div class="content">
       {{ content }}
      </div>
      
      <div class="tools-used">
        {% include tags.html %}
      </div>
    
      <div class="prev-next">
        {% include previous-next.html %}
      </div>

  </main>

  <footer>
    {% include footer.html %}
  </footer>

    <script src="/assets/js/app.js"></script>
</body>



</html>
