.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 3rem;

    .item {
      background-color: whitesmoke;
      width: 20rem;
      margin: 1.5rem;
      padding: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 1rem 1rem 1rem grey;

      img{
        margin: 5%;
        width: 90%;
      }

      a{
        text-decoration: none;
      }
    }
      
    .gallery-title {
        font-size: 1.8rem;
        text-align: center;
        color: #364f6b;
        font-weight: bold;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
    .gallery-subtitle {
        font-size: 1.2rem;
        text-align: center;
        color: #364f6b;
        display: flex;
        align-items: center;
        justify-content: center;
      }
}


  