/* Nav section */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: whitesmoke;
    min-height: 10vh;
    background-color: #364f6b;
    font-family: "Poppins", sans-serif;
    padding: 3rem;
  }
  
  nav a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.5rem;
  }
  
  .nav-links {
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    text-decoration: none;
    letter-spacing: 0.1rem;
  }
  
  #logo {
    flex: 1 1 40rem;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 0.3rem;
  }
  
  .burger {
    display: none;
    cursor: pointer;
  }
  
  .burger div {
    width: 3rem;
    height: 0.45rem;
    background-color: rgb(226, 226, 226);
    margin: 0.5rem;
    transition: all 0.3s ease;
  }
  
  