/* tags in posts */

.tags-section {
    padding: 0rem 0rem 3rem 0rem;
    background-color:white;
    margin-top: 2rem;
  }
  
  .tags-title {
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 1.5rem;
  }
  
  .tags-title h4{
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 1.5rem;
    padding: 3rem 0rem 0rem 0rem;
    font-size: 2rem;
  }
  
  .tag-image {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill,minmax(5rem,1fr));
    grid-column-gap: 2rem;
    grid-row-gap: 0.5rem;
    
  }
  
  .tag-img img {
    width: 5rem;
    padding:0.5rem;
  }
  
  .tooltip {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
  }
  